.owl-theme .item img {
    display: block;
    width: 100%;
    height: auto;
}

.owl-theme .owl-controls {
    position: absolute;
    margin-top: 10px;
    text-align: center;
    bottom: 8%;
    width: 100%;
}

.owl-theme .owl-controls .item-link {
    position: relative;
    display: block;
    width: 100px;
    height: 40px;
    margin: 0 2px;
    border-bottom: 4px solid #ccc;
    outline: none;
}

.owl-theme .owl-controls .item-link:focus {
    -webkit-box-shadow: 0 0 8px #cc4895;
    -moz-box-shadow: 0 0 8px #cc4895;
    box-shadow: 0 0 8px #cc4895;
    outline: none;
}

.owl-theme .owl-controls .active .item-link {
    border-bottom: 4px solid #cc4895;
}

.owl-theme .owl-nav .owl-dots span {
    display: none;
}

.owl-theme .owl-controls .owl-dots {
    display: inline-block;
    zoom: 1;
}

.owl-theme .owl-controls .owl-dot{
    float: left;
}

.owl-theme .owl-nav .owl-prev,
.owl-theme .owl-nav .owl-next {
    position: absolute;
    top: 5px;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #c0c0c0;
    outline: none;
}

.owl-theme .owl-nav .owl-prev:focus,
.owl-theme .owl-nav .owl-next:focus {
    -webkit-box-shadow: 0 0 8px #cc4895;
    -moz-box-shadow: 0 0 8px #cc4895;
    box-shadow: 0 0 8px #cc4895;
}

.owl-theme .owl-nav .owl-prev {
    left: 100px;
}

.owl-theme .owl-nav .owl-next {
    right: 100px;
}
