<!--%import("./carousel/owl.carousel.min.js")-->
<!--%import("./carousel/assets/owl.carousel.css")-->
<!--%import("./css/style.css")-->
<div id="owl-demo" class="owl-carousel owl-theme">
    <!--@foreach($widget_info->sg_slider_items as $key => $item)-->
    <div class="item">
        <img src="{$item->getThumbnail()}"/>
		<!--@if($widget_info->show_title == 'Y' || $widget_info->show_content == 'Y')-->
        <h3>{$item->getTitle($item->subject_cut_size)}</h3>
		<!--@end-->
    </div>
    <!--@end-->	
</div>

<script type="text/javascript">
jQuery(document).ready(function($){
    var owl = $('.owl-carousel');
    owl.owlCarousel({
        items:1,
        loop:true,
        nav:{$widget_info->show_navigation},
        dots:{$widget_info->show_imagelist},
        autoplay:true,
        autoplayTimeout:{$widget_info->slide_delay},
        margin:10,
        onInitialized: afterOWLinit
    });

    function afterOWLinit() {
        $('.owl-controls .owl-dots .owl-dot').append('<a class="item-link" href="#"/>');

        var pafinatorsLink = $('.owl-controls .item-link');

        $.each($('.owl-carousel .item'), function (i) {

            $(pafinatorsLink[i])
            .css({
                'background': 'url(' + $(this).find('img').attr('src') + ') center center no-repeat',
                '-webkit-background-size': 'cover',
                '-moz-background-size': 'cover',
                '-o-background-size': 'cover',
                'background-size': 'cover'
            })
            .click(function () {
                owl.trigger('owl.goTo', i);
            });

        });

        $('.owl-pagination').prepend('<a href="#prev" class="prev-owl"/>');
        $('.owl-pagination').append('<a href="#next" class="next-owl"/>');

        $(".next-owl").click(function () {
            owl.trigger('owl.next');
        });

        $(".prev-owl").click(function () {
            owl.trigger('owl.prev');
        });
    }
});
</script>
